In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('BTC-USD.csv', date_parser = True)
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2390,2021-04-03,59397.410156,60110.269531,57603.890625,57603.890625,57603.890625,5.964134e+10
2391,2021-04-04,57604.839844,58913.746094,57168.675781,58758.554688,58758.554688,5.074966e+10
2392,2021-04-05,58760.875000,59891.296875,57694.824219,59057.878906,59057.878906,6.070627e+10
2393,2021-04-06,59171.933594,59479.578125,57646.808594,58192.359375,58192.359375,6.605803e+10
2394,2021-04-07,58186.507813,58731.144531,55604.023438,56048.937500,56048.937500,7.564530e+10

In [3]:
data_training = data[data['Date']< '2020-01-01'].copy()
data_training

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
1927,2019-12-27,7238.141113,7363.529297,7189.934082,7290.088379,7290.088379,2.277736e+10
1928,2019-12-28,7289.031250,7399.041016,7286.905273,7317.990234,7317.990234,2.136567e+10
1929,2019-12-29,7317.647461,7513.948242,7279.865234,7422.652832,7422.652832,2.244526e+10
1930,2019-12-30,7420.272949,7454.824219,7276.308105,7292.995117,7292.995117,2.287413e+10
1931,2019-12-31,7294.438965,7335.290039,7169.777832,7193.599121,7193.599121,2.116795e+10

In [4]:
data_test = data[data['Date']> '2020-01-01'].copy()
data_test

,Date,Open,High,Low,Close,Adj Close,Volume
1933,2020-01-02,7202.551270,7212.155273,6935.270020,6985.470215,6985.470215,2.080208e+10
1934,2020-01-03,6984.428711,7413.715332,6914.996094,7344.884277,7344.884277,2.811148e+10
1935,2020-01-04,7345.375488,7427.385742,7309.514160,7410.656738,7410.656738,1.844427e+10
1936,2020-01-05,7410.451660,7544.497070,7400.535645,7411.317383,7411.317383,1.972507e+10
1937,2020-01-06,7410.452148,7781.867188,7409.292969,7769.219238,7769.219238,2.327626e+10
...,...,...,...,...,...,...,...
2390,2021-04-03,59397.410156,60110.269531,57603.890625,57603.890625,57603.890625,5.964134e+10
2391,2021-04-04,57604.839844,58913.746094,57168.675781,58758.554688,58758.554688,5.074966e+10
2392,2021-04-05,58760.875000,59891.296875,57694.824219,59057.878906,59057.878906,6.070627e+10
2393,2021-04-06,59171.933594,59479.578125,57646.808594,58192.359375,58192.359375,6.605803e+10
2394,2021-04-07,58186.507813,58731.144531,55604.023438,56048.937500,56048.937500,7.564530e+10

In [5]:
training_data = data_training.drop(['Date', 'Adj Close'], axis = 1)
training_data.head()

         Open        High         Low       Close      Volume
0  465.864014  468.174011  452.421997  457.334015  21056800.0
1  456.859985  456.859985  413.104004  424.440002  34483200.0
2  424.102997  427.834991  384.532013  394.795990  37919700.0
3  394.673004  423.295990  389.882996  408.903992  36863600.0
4  408.084991  412.425995  393.181000  398.821014  26580100.0

In [6]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[1.49732345e-02, 1.29013200e-02, 1.49400698e-02, 1.44534769e-02,
        3.35749244e-04],
       [1.45066780e-02, 1.23321258e-02, 1.28489753e-02, 1.27508263e-02,
        6.33453324e-04],
       [1.28093283e-02, 1.08719155e-02, 1.13293978e-02, 1.12164013e-02,
        7.09650970e-04],
       ...,
       [3.70008086e-01, 3.67365217e-01, 3.78051927e-01, 3.74990337e-01,
        4.97548412e-01],
       [3.75325771e-01, 3.64390763e-01, 3.77862744e-01, 3.68279031e-01,
        5.07057851e-01],
       [3.68805505e-01, 3.58377151e-01, 3.72197021e-01, 3.63134123e-01,
        4.69226533e-01]])

In [7]:
X_train = []
Y_train = []

In [8]:
training_data.shape[0]

1932

In [9]:
for i in range(60, training_data.shape[0]):
    X_train.append(training_data[i-60:i])
    Y_train.append(training_data[i,0])

In [10]:
X_train, Y_train = np.array(X_train), np.array(Y_train)

In [11]:
X_train.shape

(1872, 60, 5)

# Building LSTM

In [12]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [ ]:
regressor = Sequential()
regressor.add(LSTM(units = 50, activation = 'relu', return_sequences = True, input_shape = (X_train.shape[1], 5)))
regressor.add(Dropout(0.2))

In [ ]:
regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.3))

regressor.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.4))

regressor.add(LSTM(units = 120, activation = 'relu'))
regressor.add(Dropout(0.5))

regressor.add(Dense(units =1))

In [ ]:
regressor.summary()

In [ ]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [ ]:
regressor.fit(X_train, Y_train, epochs = 20, batch_size =50)

 # Test Dataset

In [ ]:
past_60_days = data_training.tail(60)
df= past_60_days.append(data_test, ignore_index = True)
df = df.drop(['Date', 'Adj Close'], axis = 1)
df.head()

In [ ]:
inputs = scaler.transform(df)
inputs

In [ ]:
X_test = []
Y_test = []
for i in range (60, inputs.shape[0]):
    X_test.append(inputs[i-60:i])
    Y_test.append(inputs[i, 0])

In [ ]:
X_test, Y_test = np.array(X_test), np.array(Y_test)
X_test.shape, Y_test.shape

In [ ]:
Y_pred = regressor.predict(X_test)
Y_pred, Y_test

In [ ]:
scaler.scale_

In [ ]:
scale = 1/5.18164146e-05
scale

In [ ]:
Y_test = Y_test*scale
Y_pred = Y_pred*scale

In [ ]:
Y_pred

In [ ]:
Y_test

In [ ]:
plt.figure(figsize=(15,7))
plt.plot(Y_test, color = 'red', label = 'Real Bitcoin Price')
plt.plot(Y_pred, color = 'green', label = 'Predicted Bitcoin Price')
plt.title('Bitcoin Price Prediction using RNN-LSTM')
plt.xlabel('Time')
plt.ylabel('Price')
plt.legend()
plt.show()